name: Deploy Storybook to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "storybook-pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm' # or 'pnpm' later, but npm is fine for global install
          cache-dependency-path: ./pnpm-lock.yaml

      - name: Install pnpm
        run: npm install -g pnpm@9

      - name: Show pnpm version
        run: pnpm -v

      - name: Install dependencies
        run: pnpm install

      - name: Build Storybook
        run: pnpm build-storybook --output-dir storybook-static

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./storybook-static

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
